/* Basic reset to remove default margins and padding */
body, header, footer {
    display: flex;
    justify-content: center; /* Aligns children (content) in the center horizontally */
    width: 100%; /* Ensures full width */
}

body {
    flex-direction: column; /* Stacks children vertically */
    min-height: 100vh; /* Full viewport height */
    align-items: center; /* Aligns children in the center horizontally */
    background: linear-gradient(to bottom, #250754, #3e085e, #85107d); /* Gradient from dark purple to red */
}

header, footer {
    text-align: center; /* Centers text inside header and footer */
    width: 100%; /* Full width of the container */
    padding: 10px 0; /* Padding for visual spacing */
    color: white; /* Text color for visibility */
}

/* Optional: Adjust the styles below to suit your design needs */
.header a, .footer p {
    color: white; /* Ensuring links and text in footer are visible */
}


#resultDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
    color: white;
}

/* Styles for the difficulty selection */
#difficultySelection {
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    border-radius: 10px;
    color: white;
}

#difficultySelection label {
    margin-right: 10px;
    color: white; /* Matching the other text */
}

#difficultySelection input[type="radio"] {
    margin-left: 10px;
    margin-right: 5px;
}

#difficultySelection input[type="radio"] + label {
    color: white; /* Matching the other text */
}


/* Styles for the restart button */
#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3e085e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#restartButton:hover {
    background-color: #250754;
}

#restartButton:active {
    background-color: #1f064d;
}
